body {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.card-deck {
    padding: 0px;
    margin: 3px 0px;
}

.card {
    border: 0px;
}

.card-img-top {
    height: 100%;
}
