{% extends 'base.html' %}


{% block content %}
    <!--https://github.com/twbs/bootstrap/issues/20321-->
    <!--https://www.w3schools.com/css/css_margin.asp-->
    <!--https://getbootstrap.com/docs/4.0/layout/grid/-->

    <div class="container">

        <div class="card-deck justify-content-center">
            <div class="row">

                {% for db_item, (updates, utime) in data %}
                <div class="card-deck col-md-{{ mg }} col-lg-{{ lg }}">
                    <div class="card mr-1 ml-1">
                        <img class="card-img-top" src="{{ db_item.pic }}" alt="Card image cap">
                        <div class="card-body px-1 py-1">
                            <!--https://www.htmlgoodies.com/tutorials/colors/article.php/-->
                            <!--3479011/How-To-Change-Text-Color-Using-HTML-and-CSS.htm-->
                            <a href="{{ db_item.link }}" target="_blank">
                                <h5 class="card-title mb-0 text-center">
                                    {{ db_item.name }}
                                    <FONT COLOR="{% if updates %}#00FF00{% else %}#800080{% endif %}">
                                        +{{ updates }}
                                    </FONT>
                                </h5>
                            </a>
                        </div>
                        <div class="card-footer px-1 py-1 text-right">
                            <small class="text-muted">{{ utime }}</small>
                            <!--https://www.reddit.com/r/flask/comments/5c5ud5/passing_arguments_url_for/-->
                            <a href="{{ url_for('remove_link', aid=db_item.aid) }}">
                                <i class="fas fa-eraser"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}
